/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(220, 68%, 54%);
  --first-pink-color: #da0073;
  --second-pink-color: #da0073c2;
  --first-color-lighten: hsl(220, 68%, 97%);
  --title-color: hsl(220, 48%, 28%);
  /* --text-color: hsl(220, 12%, 45%); */
  --text-color: #222;
  --body-color: hsl(220, 100%, 99%);
  --bs-black-rgb: 0, 0, 0;
  --gray-1: #6c757d;
  --gray-2: #272727;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }

  .text-lg-start {
    text-align: left !important;
  }

  .pr-20 {
    padding-right: 20px;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

p {
  line-height: 1.7;
  font-size: 17px;
}

ul {
  list-style: none;
}

a {
  color: #0095da;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.services a:hover {
  /* Bağlantının üzerine gelindiğinde uygulanacak stiller */
  text-decoration: none;
  /* Altı çizgiyi kaldırma */
  cursor: pointer;
  /* Farenin üzerine geldiğinde el işareti gösterme */
}

.card-title a:hover {
  color: inherit;
  /* Bağlantının üzerine gelindiğinde uygulanacak stiller */
  text-decoration: none;
  /* Altı çizgiyi kaldırma */
  cursor: pointer;
  /* Farenin üzerine geldiğinde el işareti gösterme */
}

video {
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -1;
}

.uploadplayer-player {
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

/*=============== BACKGROUNDCOLORS===============*/
.bg-dark {
  background-color: #1a1a1a !important;
}
.bg-pink {
  background-color: var(--first-pink-color);
}

.bg-work-02 {
  background-color: #f5f5f5;
}

.mix-blend-lighten {
  mix-blend-mode: lighten;
}

.color-light-blue {
  color: #0095da;
}

light-pink {
  color: #da0073;
}

.opacity-75 {
  opacity: .75 !important;
}

/*=============== FONTS===============*/
.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fs-12 {
  font-size: 12px;
  line-height: 14px;
}

.fs-14 {
  font-size: 14px;
  line-height: 24px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
  line-height: 28px;
}

.fs-28 {
  font-size: 28px;
  line-height: 36px;
}

.fs-32 {
  font-size: 32px;
  line-height: 40px;
}

.fs-40 {
  font-size: 40px;
  line-height: 44px;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

/*=============== it's for prototype text ===============*/
.max-width-750 {
  max-width: 750px;
  width: 100%;
}

/* 
   .right-ul sınıfı içindeki <ul> listelerinin özelliklerini belirler.
   Liste işaretlerini kaldırır ve sol boşluk ekler.
*/
.right-ul ul {
  list-style: none;
  /* Liste işaretlerini kaldırır */
  padding-left: 28px;
  /* Sol boşluk ekler */
}

/* 
   .right-ul sınıfı içindeki <ul> listelerindeki <li> öğelerinin özelliklerini belirler.
   Metni sola kaydırır ve alt boşluk ekler.
*/
.right-ul ul li {
  text-indent: -32px;
  /* Metni sola kaydırır */
  margin-bottom: 8px;
  /* Alt boşluk ekler */
}

/* 
   .right-ul sınıfı içindeki <ul> listelerindeki <li> öğelerinin içine bir simge ekler.
   FontAwesome fontunu kullanır ve mavi renkte bir simge oluşturur.
*/
.right-ul ul li:before {
  font-family: fontawesome;
  /* FontAwesome fontunu kullanır */
  content: "\f058";
  /* Simge içeriğini belirler */
  color: #0095da;
  /* Simge rengini belirler */
  padding-right: 12px;
  /* Sağ taraftan boşluk ekler */
  text-indent: 35px;
  /* Simgeyi sola kaydırır */
  font-weight: 800;
  /* Simge fontunu kalın yapar */
  font-size: 16px;
  /* Simge boyutunu belirler */
}

/*=============== MARGINS ===============*/
.mt-80 {
  margin-top: 5rem !important;
}

.mt-64 {
  margin-top: 4rem !important;
}

.mt-40 {
  margin-top: 2.5rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.ms-2 {
  margin-left: .5rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.wh-64 {
  width: 64px;
  height: 64px;
}

.wh-80 {
  width: 80px;
  height: 80px;
}

/*=============== PADDINGS ===============*/
.pb-120 {
  padding-bottom: 7.5rem;
}

.pt-96 {
  padding-top: 6rem;
}

.pt-80 {
  padding-top: 5rem !important;
}

.pt-64 {
  padding-top: 4rem;
}

.ptb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.ps-1 {
  padding-left: .25rem !important;
}

.px-1 {
  padding-right: .25rem !important;
  padding-left: .25rem !important;
}

.px-md-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-m-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.pd-top-bottom-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pd-top-80-l-50 {
  padding: 60px;
}

.border-20 {
  border-radius: 20px;
}

.bg-f5f5f5 {
  background-color: #f5f5f5;
}

.color-unset {
  color: unset;
}

.color-white {
  color: #fff;
}

.color-green {
  color: rgb(47, 255, 0);
}

.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray {
  background-color: var(--gray-2);
}

.opacity-5 {
  opacity: .5;
}

/*=============== BUTTONS ===============*/
.btn-round {
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 50px;
}

.btn-square {
  padding: 16px 24px;
  border-radius: 8px;
}

.bg-btn {
  font-size: 18px;
  font-weight: 500;
  padding: 15px 24px;
}

.btn-blue {
  background-color: #0095da;
  color: #fff;
  border: 1px solid #0095da;
}

.btn-green {
  background-color: rgb(47, 255, 0);
  color: #fff;
  border: 1px solid rgb(47, 255, 0);
}

.btn-pink {
  background-color: #da0073;
  color: #fff;
  border: 1px solid #da0073;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-blue:hover {
  color: #0095da;
  background-color: #fff;
  border: 1px solid #0095da;
}

.btn-green:hover {
  color: rgb(47, 255, 0);
  background-color: #fff;
  border: 1px solid rgb(47, 255, 0);
}

.btn-pink:hover {
  color: #fff;

}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.unite-header {
  position: sticky;
  top: 0;
  z-index: 4;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}


/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--first-pink-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__logo i {
  font-size: 1.25rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__toggle-menu,
.nav__toggle-close {
  font-size: 1.25rem;
  color: var(--first-pink-color-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__toggle-close {
  opacity: 0;
}

@media screen and (max-width: 1118px) {
  .nav {
    display: block;
  }

  .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }

  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }

  .dropdown__icon img {
    width: 60px;
    height: 60px;
  }
}

.nav__link__fourdot {
  display: none;
}

.nav__link {
  color: var(--first-pink-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  text-decoration: none !important;
}

.nav__link:hover {
  color: var(--first-pink-color);
  background-color: initial;
  text-decoration-color: var(--first-pink-color);
  text-decoration: none;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__content,
.dropdown__group,
.dropdown__list {
  display: grid;
}

.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.dropdown__content {
  row-gap: 1.75rem;
}

.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}

.dropdown__group:first-child {
  margin-top: 1.25rem;
}

.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}

.dropdown__icon i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.dropdown__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-pink-color);
}

.dropdown__title:hover {
  color: var(--first-pink-color);
}

.dropdown__list {
  row-gap: 0.25rem;
}

.dropdown__link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  cursor: default;
  color: var(--gray-1);
  transition: color 0.3s;
}


/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {

  /* Nav */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 3rem;
    height: 100%;
  }

  .nav li {
    display: flex;
  }

  .nav__link__fourdot {
    display: flex;
  }

  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }

  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  /* it's industries container */
  .dropdown_scontainer {
    left: auto;
    right: auto;
  }

  .dropdown__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 6rem;
    max-width: 1120px;
    margin-inline: auto;
  }

  /* it's industries content */
  .dropdown__scontent {
    grid-template-columns: repeat(2, max-content);

  }

  .dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }

  /* IT'S GROUP INDUSTRIES */
  .dropdown__sgroup {
    padding: 1rem 0;
  }

  .dropdown__group:first-child,
  .dropdown__group:last-child {
    margin: 0;
  }

  .dropdown__list {
    row-gap: 0.75rem;
  }

  .dropdown__icon {
    width: 110px;
    height: 110px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }

  .dropdown__icon i {
    font-size: 2rem;
  }

  .dropdown__icon img {
    width: 110px;
    height: 110px;
  }

  .dropdown__title {
    font-size: var(--normal-font-size);
  }

  .dropdown__link {
    font-size: var(--small-font-size);
  }

  .dropdown__item {
    cursor: pointer;
  }

  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }

  .dropdown__item:hover>.dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    max-width: -webkit-fill-available;
    margin-inline: auto;
  }
}

/*================== PAGE SECTION ==============*/
/* BANNER */
.banner-container {
  position: relative;
  width: 100%;
  height: 100%;
  color: #ffffff;
  overflow: hidden;
}

.video-text {
  position: absolute;
  top: 20%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
  color: white;
  font-size: 32px;
  text-align: center;
  z-index: 1;
  /* Metnin video üzerinde olmasını sağlar */
}

/*=============== HOME PAGE SERVİCES CARDS===============*/
.hover-shadow {
  transition-duration: .25s;
}

.hover-shadow:hover {
  box-shadow: 0 .5rem 1rem rgba(33, 37, 41, .15) !important;
}

.hover-unset:hover {
  color: unset;
  text-decoration: none;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.linear-grad-case {
  background: linear-gradient(35.21deg, #091727 -.07%, rgba(236, 120, 77, .1) 98.7%);
}

.bg-cta-frame {
  background-size: contain;
  /* Arka plan görüntüsünün boyutunu belirler, 'contain' değeri öğenin içine tam olarak sığacak şekilde ölçekler */
  background-repeat: no-repeat;
  /* Arka plan görüntüsünün tekrar edilip edilmeyeceğini belirler, 'no-repeat' değeri yalnızca bir kez tekrar edilmesini sağlar */
}

.icon {
  position: relative;
  width: 32px;
  height: 32px;
}

/*================== MOLD PAGE ==============*/
.actual-image-container {
  max-height: 1000px;
  overflow: hidden;
}

.v-align-middle {
  margin: 0;
  padding: 0 20px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.black-back-p-40-shadow {
  padding: 50px;
}

.black-back-p-40-shadow h1 {
  text-shadow: 0 1px 5px #000;
  font-size: 36px;
  color: #fff;
  margin-bottom: 0;
}

.black-back-p-40-shadow p {
  text-shadow: 0 1px 5px #000;
  font-size: 20px;
  padding-top: 10px;
  color: #fff;
  margin-bottom: 0;
}

.bgg-image {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.bg-testi-white {
  padding: 0;
}

.pos-relative {
  position: relative;
}

.max-width-700-testi {
  position: relative;
  max-width: 1000px;
  padding: 10px;
  margin: auto;
}

.content-testi {
  position: relative;
  padding: 3%;
  padding-top: 0;
}

.content-testi p {
  font-size: 16px;
  font-style: oblique;
}

.customer-details .name {
  font-size: 22px;
  margin-bottom: 10px;
  display: block;
  margin-top: 20px;
}

.customer-details .designation {
  font-size: 16px;
  margin-bottom: 15px;
  display: block;
}

.icon-section {
  margin-bottom: 20px;
  padding: 0 20px;
}

.max-720 {
  max-width: 720px;
  margin: auto;
}

.s-tile-x {
  padding: 10px;
}

.s-tile-image-x {
  max-height: 248px;
  overflow: hidden;
}

.tile-content-complete-xp {
  padding: 20px 10px;
}

.s-tile-title {
  margin-bottom: 25px;
  font-size: 18px;
}

.s-tile-title-x {
  margin-bottom: 25px;
  font-size: 18px;
}

.bg-shadow-g.get-my-height {
  height: 100%;
  box-shadow: 0 10px 20px 0 rgba(48, 49, 51, .1), 0 -10px 20px 0 rgba(48, 49, 51, .05);
  display: flex;
  flex-direction: column;
}

.faqs p {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {

  .image-container .actual-image-container,
  .image-container .actual-image-container img {
    min-height: 240px;
    object-fit: cover;
  }


  .black-back-p-40-shadow.v-align-middle {
    padding: 0 !important;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .pd-10-mob {
    padding: 10px;
  }

  .cnc-applications .row.bg-we {
    display: block;
  }

  .trust-section-rapid .icon-section {
    text-align: left !important;
    padding-left: 0;
  }
}

@media screen and (max-width: 1023px) {
  .black-back-p-40-shadow h1 {
    font-size: 28px;
  }

  .black-back-p-40-shadow p {
    font-size: 18px;
  }

  .black-back-p-40-shadow p {
    font-size: 14px;
  }
}

/*================== SHEET METAL PAGE ==============*/
.special-list-automative ul {
  list-style: none;
  font-size: 16px;
  line-height: 26px;
}

.special-list-automative ul li {
  padding-top: 10px;
}

.special-list-automative.color-white ul li:before {
  background: #fff;
}

.row:after {
  clear: both;
}

.row:after,
.row:before {
  content: " ";
  display: table;
}

.special-list-automative ul li:before {
  content: " ";
  margin-right: 10px;
  background: #4c4c4c;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  line-height: 18px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .column-3 ul {
    column-count: 3;
    column-gap: 20px;
  }

  .color-white ul li {
    color: #fff;
  }
}

/*================== INDUSTRIAL MACHINERY PAGE ==============*/
@media screen and (min-width: 992px) {
  .btscls .offset-lg-1 {
    margin-left: 8.33333333%;
  }

}

.column-3 li {
  width: 30%;
  padding-bottom: 16px;
}

.max-width-1280 {
  max-width: 1280px;
  width: 100%;
}

/*================== CONTACT PAGE ==============*/
.wpb-content-wrapper {
  margin: 0;
  padding: 0;
  border: none;
  overflow: unset;
  display: block;
}

.vc_custom_1535520818074 {
  margin-top: 30px !important;
  padding-right: 10px !important;
  padding-bottom: 60px !important;
  padding-left: 10px !important;
}

.vc_row {
  margin-left: -15px;
  margin-right: -15px;
}

div.wpb_row {
  margin: 0;
}

.vc_custom_1527093644057 {
  padding-top: 30px !important;
}

.vc_column_container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.vc_col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .vc_col-sm-12 {
    width: 100%;
    float: left;
  }

  .equal {
    display: flex;
    width: 100%;
  }
}